{% extends 'connect/friends.html' %}
{% block title %}
    Chat with {{ recipient.username }}
{% endblock %}
{% block head %}
<style>
    
    .chat-box {
        padding: 20px;
        overflow-y: scroll;
        max-height: 400px;
    }
    .message {
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }
    .sent-message {
        background-color: #dcf8c6;
        align-self: flex-end;
        text-align: right;
        color: black;
        font-size: large;
        width: 600px; /* Adjust as needed */
        margin-left: auto; /* Align to the right side */
    }
    
    .received-message {
        font-size:large;
        background-color: #e6e6e6;
        color:black;
        width:600px;
    }
    .message p {
        margin: 0;
    }
    .message small {
        color: #666;
    }
    .message.sent-message small {
        text-align: right;
    }
    .message.received-message small {
        text-align: left;
    }
    form {
        padding: 20px;
        border-top: 1px solid #ccc;
    }
    
    textarea {
        width: calc(100% - 80px);
        height: 60px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
    }
    button {
        width: 60px;
        height: 60px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: absolute;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Chat with {{ recipient.username }}</h1>
    <h3>Start a meeting</h3><a href="{% url "connections:meeting" %}" class="button">New Meeting</a>
    OR <a href="{% url "connections:joinmeet" %}" class="button">Join Meeting</a>
    <div class="chat-box" id="chat-box">
        {% for message in messages|dictsort:"timestamp" %}
            <div class="message {% if message.sender == recipient %}received-message{% else %}sent-message{% endif %}">
                <p>{{ message.content }}</p>
                <small>You - {{ message.timestamp|date:"DATETIME_FORMAT" }}</small>
            </div>
        {% endfor %}
    </div>
    <form id="message-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="recipient" value="{{ recipient.username }}">
        <textarea name="content" id="message-input" placeholder="Type your message here..."></textarea>
        <button type="submit">Send</button>
    </form>
</div>
<script>
    // JavaScript to scroll chat box to the bottom
    var chatBox = document.getElementById("chat-box");
    chatBox.scrollTop = chatBox.scrollHeight;
</script>
{% endblock %}
