{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    View Students
{% endblock %}
{% block head %}
<style>
    .student-card {
        margin-bottom: 20px;
        height: 270px; 
        overflow-y: auto;
    }
    .card-body {
        height: 100%;
    }

</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Available Students</h1>
    <div class="mb-4">
        <form action="" method="get" class="row g-3">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search by Username" name="search">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <!-- Filter Section -->
    <div class="mb-4">
        <form action="" method="get" class="row g-3">
            <!-- Filter by Courses -->
            <div class="col-md-4">
                <select class="form-select" name="courses">
                    <option value="" selected>Filter by Courses</option>
                    {% for choice, _ in DEPARTMENT_YEAR_CHOICES %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Filter by Domains -->
            <div class="col-md-4">
                <select class="form-select" name="domains">
                    <option value="" selected>Filter by Domains</option>
                    {% for domain in domains_choices %}
                        <option value="{{ domain }}">{{ domain }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-select" id="availability" name="availability">
                    <option value="" selected>Filter by availability</option>
                    <option value="morning">Morning</option>
                    <option value="evening">Evening</option>
                    <option value="night">Night</option>
                </select>
            </div>
            
            
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
        </form>
    </div>

    <!-- Student List -->
    <div class="row">
        {% for student in students %}
            <div class="col-md-4">
                <div class="card student-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ student.user.username }} &nbsp&nbsp&nbsp
                            {% if not student.has_pending_request and not student.is_friend %}
                            <a href="{% url 'connections:send_friend_request' student.user.id %}" class="btn btn-success">Send Request</a>
                            {% elif not student.is_friend %}
                            <a href="#" class="btn btn-success disabled">Request Sent</a>
                            {% else %}
                            <button class="disabled">Friends</button>
                            {% endif %}</h5>
                        <p class="card-text">Courses: {{ student.courses }}</p>
                        <p class="card-text">Preferred Study Methods: {{ student.preferred_study_methods }}</p>
                        <p class="card-text">Goals: {{ student.goals }}</p>
                        <p class="card-text">Availability: {{ student.availability }}</p>
                        <p class="card-text">Domains: 
                            {% for domain in student.domains.all %}
                                {{ domain.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        
                    </div>
                </div>
            </div>
        {% empty %}
        <div class="col">
            <p>No students found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}