{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{% static 'js/color-modes.js' %}"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="{% static "dist/css/bootstrap.min.css"%}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="{% static "dist/js/bootstrap.bundle.min.js"%}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  {% block head %}
  {% endblock %}
</head>
<body>
  <header class="p-4  border-bottom"> <!-- Increased padding -->
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
       
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="font-size: 20px;"> <!-- Increased font size -->
          <li><a href="{% url "home" %}" class="nav-link px-3 link-body-emphasis">Home</a></li> <!-- Increased padding -->
          <li><a href="{% url "room:rooms" %}" class="nav-link px-3 link-body-emphasis">Rooms</a></li> <!-- Increased padding -->
          <li><a href="{% url "todolist:index" %}" class="nav-link px-3 link-body-emphasis">Todo</a></li> <!-- Increased padding -->
          <li><a href="{% url 'notes:note_list' %}" class="nav-link px-3 link-body-emphasis">Collaborate notes</a>
          </li> <!-- Increased padding -->
          <li><a href="{% url 'resources:index' %}" class="nav-link px-3 link-body-emphasis">Resources</a></li> <!-- Increased padding -->
          <li><a href="{% url 'connections:connect' %}" class="nav-link px-3 link-body-emphasis">Connect</a></li> <!-- Increased padding -->
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'media/user.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          {% if user.is_authenticated %}
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'connections:friends' %}">Friends</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a></li>
          </ul>
          {% else %}
              <!-- Show dropdown for guests -->
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li class="nav-item dropdown">
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                      </ul>
                  </li>
              </ul>
          {% endif %}
        </div>
      </div>
    </div>

  </header>

  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
