{% extends "base/base2.html" %}

{% block dir %}
<div class="container">
{% for resource in resources %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ resource.title }}</h5>
                <p class="card-text">Uploaded by: {{ resource.uploader.username }}</p>
                <p class="card-text">Date Uploaded: {{ resource.upload_date }}</p>
                <a href="{% url 'resources:download_resource' resource_uuid=resource.uuid %}" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
  


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Biology</h5>
          <p class="card-text">Uploaded by: Michael Johnson</p>
          <p class="card-text">Date Uploaded: March 20, 2024</p>
          <a href="/button3" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
