{% extends "base/base2.html" %}

{% block dir %}
<div class="container">
  <div class="mt-4"></div>
  {% for resource in resources %}
  <div class="col">
      <div class="card shadow-sm">
          <div class="card-body">
              <h5 class="card-title">{{ resource.title }}</h5>
              <p class="card-text">Uploaded by: {{ resource.uploader.username }}</p>
              <p class="card-text">Date Uploaded: {{ resource.upload_date }}</p>
              <div class="row">
                  <div class="col-auto">
                      <a href="{% url 'resources:download_resource' resource_uuid=resource.uuid %}" class="btn btn-sm btn-primary">Download</a>
                  </div>
                  <div class="col-auto">
                      <a href="{{ resource.file.url }}" class="btn btn-sm btn-secondary">View</a>
                  </div>
                  <div class="col-auto">
                      {% if resource.uuid in saved_resource_ids %}
                          <!-- If resource is saved, display unsave button -->
                          <form action="{% url 'resources:unsave_resource' resource_uuid=resource.uuid %}" method="POST">
                              {% csrf_token %}
                              <!-- Hidden input field to hold the resource UUID -->
                              <input type="hidden" name="resource_uuid" value="{{ resource.uuid }}">
                              <button type="submit" class="btn btn-sm btn-outline-secondary" style="background-color: red; color: white;">Unsave</button>
                          </form>
                      {% else %}
                          <!-- If resource is not saved, display save button -->
                          <form action="{% url 'resources:save_resource' resource_uuid=resource.uuid %}" method="POST">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-sm btn-outline-secondary" style="background-color: green; color: white;">Save</button>
                          </form>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}



  


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Biology</h5>
          <p class="card-text">Uploaded by: Michael Johnson</p>
          <p class="card-text">Date Uploaded: March 20, 2024</p>
          <a href="/button3" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
